body{
    background-color: rgb(29, 24, 24);
    color: crimson;
    font-family: "Dosis", sans-serif;
    margin: 0px;
}

header{
    font-size: 55px;
    border-top:  solid 10px rgb(21, 157, 219);
    /*margin: 30px;*/
    padding: 30px;
}

h1{
    font-size: 35px
}

p{
    font-size: 25px;
}

section{
background-color: rgb(255, 94, 0);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}