body{
    background-color: hsla(6, 66%, 70%, 1.00);
    color: crimson;
    font-family: "Dosis", sans-serif;
    margin: 0px;
}

header{
    font-size: 55px;
    border-top:  solid 10px rgb(187, 238, 110);
    /*margin: 30px;*/
    padding: 30px;
}

h1{
    font-size: 35px
}

p{
    font-size: 25px;
}